name: Publish SplineRuntime.xcframework

on:
  repository_dispatch:
    types: [runtime_publish]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Download built SplineRuntime.xcframework
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.PATSPL }}
          name: SplineRuntime_${{ github.event.client_payload.version }}
          path: SplineRuntime.xcframework
          repository: ${{ github.event.client_payload.source_repo }}
          run-id: ${{ github.event.client_payload.run_id }}

      - name: Display downloaded files
        run: ls -lR
