name: Publish SplineRuntime.xcframework

on:
  repository_dispatch:
    types: [runtime_publish]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Generate token from spline-bot
        id: generate-token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.SPLINE_BOT_APP_ID }}
          private_key: ${{ secrets.SPLINE_BOT_APP_KEY }}

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Download built SplineRuntime.xcframework
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.PATSPL }}
          name: SplineRuntime_${{ github.event.client_payload.version }}
          path: SplineRuntime.xcframework
          repository: ${{ github.event.client_payload.source_repo }}
          run-id: ${{ github.event.client_payload.run_id }}

      - name: Push the changes
        run: |
          git config user.name "spline-bot[bot]"
          git config user.email "spline-bot[bot]@users.noreply.github.com"

          if [[ `git status --porcelain` ]]; then
            git add -A
            git commit -m "Release ${{ github.event.client_payload.version }}"
            git push
          else
            echo "No local changes detected."
          fi
